body {
  background-color: #0a6464;
  margin: 40px;
  padding: 0;
}

.scroll_page {
  position: relative;
  text-align: center;
}

.page_center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 3px 3px 4px 2px rgba(0,0,0,0.5);
}

.end_page {
  display: block;
  clear: both;
}

.exp-box {
  overflow: hidden;
  height: 100px;
  width: 100px;
  float: left;
  padding: 4px;
}

.exp-link {
  height: 100px;
  width: 100px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.exp-link:hover {
  -webkit-transition: all 5.0s ease-in;
  -moz-transition: all 5.0s ease-in;
  transition: all 5.0s ease-in;
  transform: scale(1.5);
}

.exp-link a {
  overflow: hidden;
  width: auto;
  height: 100%;
}

.exp-link a img {
  width: 100%;
}
